<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../../web/assets/css/accueil.css">
    <title>Chez Chris</title>
</head>

<body>

<header>

    <span style="font-size:small;"><div id="banniere"> </div></span>
    <a href="../View/connexion.html" id="connexion">Connexion</a>

</header>

<main>

    <ul>
        <li><a href="../Model/accueil.php">Accueil</a></li>
        <li><a href="../View/forum.html">Forums</a></li>
        <li><a href="news.html">News</a></li>
        <li><a href="fanfic.html">Fan Fictions</a></li>
        <li><a href="fanart.html">Fan Arts</a></li>
        <li><a href="livre.html">Livre d'or</a></li>

    </ul>

    <u2>

        <a1>Général</a1>

        <a2><li>Annonces</li></a2>
        <a2><li>Présentation</li></a2>
        <a2><li>Réglement forum</li></a2>
        <a2><li>Suggestions</li></a2>


        <a1>Littérature</a1>

        <a2><li>Annonces</li></a2>
        <a2><li>Discussions</li></a2>
        <a2><li>Fan fictions</li></a2>
        <a2><li>Autres oeuvres</li></a2>


        <a1>Jeux vidéo</a1>

        <a2><li>Annonces</li></a2>
        <a2><li>Discussins</li></a2>
        <a2><li>Youtube</li></a2>


        <a1>Hors sujet</a1>

        <a2><li>Discussion générale</li></a2>
        <a2><li>Astuces</li></a2>
        <a2><li>Médias</li></a2>


    </u2>

</main>


<footer>

</footer>

</body>

</html>