<?php include('inscription.php'); ?>

<html>
<head>
    <title>Inscription</title>
</head>

<body>
Inscription à l'espace membre :<br />
<form action="inscription.php" method="post">
    Login : <input type="text" name="username" value="<?php if (isset($_POST['username'])) echo htmlentities(trim($_POST['username'])); ?>"><br />
    Mot de passe : <input type="password" name="password" value="<?php if (isset($_POST['password'])) echo htmlentities(trim($_POST['password'])); ?>"><br />
    Prénom : <input type="text" name="firstname" value="<?php if (isset($_POST['firstname'])) echo htmlentities(trim($_POST['firstname'])); ?>"><br />
    Nom : <input type="text" name="lastname" value="<?php if (isset($_POST['lastname'])) echo htmlentities(trim($_POST['lastname'])); ?>"><br />
    Adresse mail : <input type="email" name="mail" value="<?php if (isset($_POST['mail'])) echo htmlentities(trim($_POST['mail'])); ?>"><br />
    <input type="submit" name="inscription" value="Inscription">
</form>
<?php
if (isset($erreur)) echo '<br />',$erreur;
?>
</body>
</html>