<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../../web/assets/css/accueil.css">
    <title>Chez Chris</title>
</head>

<body>

<header>

    <span style="font-size:small;"><div id="banniere"> </div></span>
    <a href="../View/connexion.html" id="connexion">Connexion</a>

</header>

<main>

    <ul>
        <li><a href="../Model/accueil.php">Accueil</a></li>
        <li><a href="../View/forum.html">Forums</a></li>
        <li><a href="news.html">News</a></li>
        <li><a href="fanfic.html">Fan Fictions</a></li>
        <li><a href="fanart.html">Fan Arts</a></li>
        <li><a href="livre.html">Livre d'or</a></li>

    </ul>
    <section>
        <fieldset>
        <legend>Titre de l'article</legend>
        <input type="text">

            article

        </input>
        </fieldset>
        <input type="submit" value="Poster l'article">

    </section>
</main>
</body>
</html>